@model EmployeeManager.Models.Employee
@{
    ViewData["Title"] = "Create Employee";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
        <h2>@ViewData["Title"]</h2>
    
        <form asp-action="Create">
            <div class="form-group">
                <label for="Name">Name</label>
            <input type="text" id="Name" name="Name" class="form-inline" oninput="validateNameInput(this)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" class="form-inline" oninput="validateNameInput(this)" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
        <div>
            <a href="/Employee/Index" class="btn btn-secondary">Back to List</a>
        </div>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/Validatename.js"></script>
</body>
</html>


