@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
<div class="text-center">
        <h1 style="color:darkblue;"><strong>Welcome To Home Page</strong></h1>
        <p style="border-color:ActiveBorder"><strong>This is our new home</strong></p>
</div>
</body>